:root { 
    --black: #000000;
    --eerie-black: #201b1b;
    --white: #ffffff;
   
    --font-size-l: 26px;
    --font-size-m: 22px;
    --font-size-xl: 60px;
   
    --font-family-abhaya_libre: "Abhaya Libre", Helvetica;
    --font-family-abhaya_libre_extrabold-regular: "Abhaya Libre ExtraBold-Regular", Helvetica;
    --font-family-avenir-regular: "Avenir-Regular", Helvetica;
  }
  .avenir-regular-normal-black-22px {
    color: var(--black);
    font-family: var(--font-family-avenir-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
/* *{
  border:1px solid
}  */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  background-color: #84a1b9;
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  
  }
  

  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  
  
  
  /* overflow:hidden; */
 
  .button:hover {background-color: #ffffff;
    /* border-color: #ffffff;
    color: #ffffff;
    text-decoration: none; */
    
  }


/* .button:active {
  background-color: #3e8e41; */
  
  a{
    text-decoration: none;
     font-family: var(--font-family-avenir-regular);

  }


  
  .landingpage
{position: relative;
  display: flex;
  z-index: 2;
  margin: 30px auto;
  width: fit-content;
  height: fit-content;

}

/* @media only screen and (max-width: 600px) {
  .landingpage {
    display: block;
  }
} */
/* screen - page2 */

.page2 {
  align-items: flex-start;
  background-color: #84a1b9;
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  border: 1px none;
  display: flex;
  /* gap: 1211px; */
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.page2 .overlap-group1 {
  height: 100%;
  /* margin-top: -22px; */
  position: relative;
  width: 100%;
}

.page2 .overlap-group2 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width:100%;
}

.page2 .todo-weekly {
  align-items: center;
  background-color: #e5efec;
  border: 4px solid;
  border-color: #5b3d38;
  border-radius: 24px;
  box-shadow: 12px 12px 0px #33322e;
  display: flex;
  flex-direction: column;
  left: 453px;
  min-height: 419px;
  padding: 23px 0;
  position: absolute;
  top: 184px;
  width: 396px;
}

.page2 .title {
  color: var(--eerie-black);
  font-family: var("assets/fonts/AbhayaLibre-ExtraBold.ttf");
  font-size: var(--font-size-xxl);
  font-weight: 550;
  letter-spacing: -0.75px;
  line-height: 30px;
  margin-right: -92.0px;
  min-width: 284px;
  white-space: nowrap;
}

.page2 .vector-1 {
  height: 4px;
  margin-right: 4.0px;
  margin-top: 22px;
  width: 392px;
}

.page2 .overlap-group {
  height: 262px;
  margin-right: 1.0px;
  margin-top: 29px;
  position: relative;
  width: 329px;
}

.page2 .hii-fahila-your-smi {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 329px;
}

.page2 .rectangle-123 {
  border: 1.5px solid;
  border-color: var(--eerie-black-2);
  border-radius: 30px;
  height: 54px;
  left: 44px;
  position: absolute;
  top: 208px;
  width: 242px;
}

.page2 .thank-you {
  color: var(--eerie-black-2);
  font-family: var(--font-family-abhaya_libre_extrabold-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 108px;
  letter-spacing: -0.65px;
  line-height: 26px;
  position: absolute;
  top: 218px;
  white-space: nowrap;
}

.page2 .group-11 {
  align-items: flex-start;
  border: 1.5px solid;
  border-color: var(--black);
  border-radius: 27.5px;
  cursor: pointer;
  display: flex;
  height: 55px;
  left: 89px;
  min-width: 55px;
  padding: 17.3px 12.2px;
  position: absolute;
  top: 812px;
}

.page2 .arrow-1 {
  height: 18px;
  width: 26px;
}

.page2 .x4321-03-1 {
  height: 325px;
  left: 400px;
  position: absolute;
  top: 603px;
  width: 497px;
}

.page2 .new-page {
  background-color: var(--white);
  height: 521px;
  margin-top: 5334.44px;
  width: 1440px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400|Abhaya+Libre:400");

@font-face {
  font-family: "Abhaya Libre ExtraBold-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AbhayaLibre-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Avenir-Roman.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.ellipse-6 {
  background-color: #ff4318;
  border-radius: 384.5px/463px;
  height: 926px;
  left: 76px;
  top: 358px;
  width: 769px;
}

.ellipse-5 {
  background-color: #73e0a9;
  border-radius: 341px/410.5px;
  height: 821px;
  left: 363px;
  top: 0;
  width: 682px;
}

.noise {
  height: 100%;
  left: 0;
  mix-blend-mode: color-burn;
  position: absolute;
  top: 0;
  width: 100%;
}

.ellipse {
  filter: blur(509px);;
  position: absolute;
}

:root { 
  --black: #000000;
  --eerie-black: #201b1b;
  --eerie-black-2: #211c1c;
  --white: #ffffff;
 
  --font-size-l: 24px;
  --font-size-m: 22px;
  --font-size-xl: 26px;
  --font-size-xxl: 30px;
  --font-size-xxxl: 60px;
 
  --font-family-abhaya_libre: "Abhaya Libre", Helvetica;
  --font-family-abhaya_libre_extrabold-regular: "Abhaya Libre ExtraBold-Regular", Helvetica;
  --font-family-avenir-regular: "Avenir-Regular", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.avenir-regular-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-avenir-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
  
button {
  color: black;
  border-radius: 24px;
  border: 2px transparent;
  margin-left: 1390px;
}

body {
  background-color: transparent;
}