/* BACKGROUND GRADIENTS */
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* BASE VALUES  */
:root { 
  --black: #000000;
  --eerie-black: #201b1b;
  --white: #ffffff;
   
  --font-size-l: 26px;
  --font-size-m: 22px;
  --font-size-xl: 60px;
   
  --font-family-abhaya_libre: "Abhaya Libre", Helvetica;
  --font-family-abhaya_libre_extrabold-regular: "Abhaya Libre ExtraBold-Regular", Helvetica;
  --font-family-avenir-regular: "Avenir-Regular", Helvetica;
}
  .avenir-regular-normal-black-22px {
    color: var(--black);
    font-family: var(--font-family-avenir-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }

body {
  width: 100%;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  display: block;
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}
  
  .homepage .button {
    /* align-items: flex-start; */
    border: 1.5px solid;
    border-color: #211c1c;
    border-radius: 30px;
    /* display: flex; */
    /* gap: 10px; */
    /* left: 108px; */
    overflow: hidden;
    padding: 14px 55px;
    /* position: absolute;
    top: 672px; */
    width: fit-content;
    background-color: #00000000
    
  }
  .button:hover {background-color: #ffffff;
    /* border-color: #ffffff;
    color: #ffffff;
    text-decoration: none; */
    
  }


/* .button:active {
  background-color: #3e8e41; */
  
  a{
    text-decoration: none;
     font-family: var(--font-family-avenir-regular);

  }


  .homepage .tap-to-open {
    color: #211c1c;
    font-family: var(--font-family-abhaya_libre_extrabold-regular);
    font-size: var(--font-size-l);
    font-weight: 400;
    letter-spacing: -0.65px;
    line-height: 26px;
    margin-top: -1.50px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .homepage .jar {
    height: 650px;
    right: 732px;
    /* top: 151px; */ 
    width: 478px;
    /* position:absolute; */
    
  }
  
  .homepage .birthday-countdown-w {
    color: var(--eerie-black);
    font-family: var(--font-family-abhaya_libre_extrabold-regular);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    /* left: 108px; */
    letter-spacing: -1.50px;
    line-height: 60px;
    /* position: absolute;
    top: 207px; */
  }
  
  .homepage .span1 {
    font-family: var(--font-family-abhaya_libre);
  }
  
  .homepage .self-love-is-importa {
    /* left: 108px; */
    letter-spacing: 0;
    line-height: 30.8px;
    /* position: absolute;
    top: 422px; */
    width: 495px;
  }
  
  .landingpage
{position: relative;
  display: flex;
  z-index: 2;
  margin: 30px auto;
  width: fit-content;
  height: fit-content;

}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400|Abhaya+Libre:400");

@font-face {
  font-family: "Abhaya Libre ExtraBold-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/AbhayaLibre-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Avenir-Roman.otf") format("opentype");
}

:root { 
  --black: #000000;
  --eerie-black: #201b1b;
  --eerie-black-2: #211c1c;
  --white: #ffffff;
 
  --font-size-l: 24px;
  --font-size-m: 22px;
  --font-size-xl: 26px;
  --font-size-xxl: 30px;
  --font-size-xxxl: 60px;
 
  --font-family-abhaya_libre: "Abhaya Libre", Helvetica;
  --font-family-abhaya_libre_extrabold-regular: "Abhaya Libre ExtraBold-Regular", Helvetica;
  --font-family-avenir-regular: "Avenir-Regular", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.avenir-regular-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-avenir-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
